<p>Hey {{ name }},</p>
<h2>Forgot your password?</h2>
<p>That's okay, it happens! Click on the button below to reset your password.</p>
<form action="{{url}}">
    <input type="submit" value="RESET YOUR PASSWORD" />
</form>
<p>If the link doesnt work =&gt; {{url}}</p>
<p>If you did not request this email you can safely ignore it.</p>